django==5.0.6
djangorestframework
django-cors-headers
django-filter
django-decouple
python-decouple
dj-database-url
psycopg2-binary
djangorestframework-simplejwt
whitenoise
gunicorn
daphne
channels
channels_redis
cloudinary
django-cloudinary-storage

